name: Pull Request

on: workflow_call

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up node
      uses: actions/setup-node@v5
      with:
        # Configure the cache to key off an existing file that exists for projects without a package lock file
        cache: npm
        cache-dependency-path: '.github/workflows/pull-request.yaml'

    - name: Run Linter
      run: |
        find . -name openapi.yaml -exec npx @redocly/cli lint {} \;
